<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/work.css">
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/app/icon.png" />
    <title>Change</title>
</head>

<body>
    <div class="container">
        <div class="photo container-div">
            <form class="form change" action="/profile/ch/" method="POST">
                {{if ne .Photo "None"}}
                <div class="img">
                    <img src="/{{.Photo}}" alt="avatar">
                </div>
                {{end}}
                <h2>Photo</h2>
                <input type="file" name="photo" class="input" value="Загрузить" accept=".jpg, .jpeg, .png">
                <h2>Socials</h2>
                <div class="socials">
                    <h2>Facebook</h2>
                    <input type="text" name="facebook" placeholder="{{range $i, $v := .Social}}{{if eq $i 0}}{{if $v}}{{$v}}{{else}}https://www.facebook.com/miron.arystan.10{{end}}{{end}}{{end}}">
                    <h2>Linkedin</h2>
                    <input type="text" name="linkedin" placeholder="{{range $i, $v := .Social}}{{if eq $i 1}}{{$v}}{{end}}{{end}}">
                    <h2>Instagram</h2>
                    <input type="text" name="instagram" placeholder="{{range $i, $v := .Social}}{{if eq $i 2}}{{$v}}{{end}}{{end}}">
                </div>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
    <script src="/static/js/change.js"></script>
</body>

</html>