<html>

<head>
    <meta charset="UTF-8">
    <title>KumirEDU/Profile</title>
    <link rel="stylesheet" href="/static/css/profile.css">
    <link rel="stylesheet" href="/static/fontawesome-free-5.13.0-web/css/all.css">
</head>

<body>
    <div class="wrapper">
        <div class="container">
            <aside>
                <div class="main-header">
                    <img src="/static/img/app/user.png" alt="user">
                    <h4>Name <span>Surname</span></h4>
                    <p>University Speciality</p>
                    <div class="social">
                        <span><a href="#"><i style="color: #0033cc;" class="fab fa-facebook"></i></a></span>
                        <span><a href="#"><i style="color: #3366ff;" class="fab fa-linkedin"></i></a></span>
                        <span><a href="#"><i style="color: rgb(228, 64, 95);" class="fab fa-instagram"></i></a></span>
                    </div>
                    <address>
                            <span><i class="fas fa-university"></i></span>
                            <p>University Name</p>
                        </address>
                    <div class="contact">
                        <a href="mailto: user@mail.com" class="mail">Email Me</a>
                    </div>
                </div>
            </aside>
            <div class="main">
                <div class="heading-section">
                    <div class="title">
                        <h1>About Me</h1>
                        <div class="bottom"></div>
                    </div>
                    <div class="nav-toggle">
                        <button class="toggle" onclick="openNav()"><span class="inner"></span></button>
                    </div>
                    <div class="nav">
                        <ul>
                            <li><a href="#">Resume</a></li>
                            <li><a href="#">Portfolio</a></li>
                            <li><a href="#">About Me</a></li>
                        </ul>
                    </div>
                    <div class="nav1">
                        <ul>
                            <li onclick="closeNav()"><i class="fas fa-arrow-left"></i></li>
                            <li><a href="#">Resume</a></li>
                            <li><a href="#">Portfolio</a></li>
                            <li><a href="#">About Me</a></li>
                        </ul>
                    </div>

                </div>
                <div class="info">
                    <p>Lorem ipsum Lorem ipsum</p>
                </div>
                <div class="ido">
                    <div class="ido-title">
                        <h2>What I do</h2>

                    </div>
                    <div class="card-section">
                        <div class="web-card card">
                            <div class="card-icon">
                                <span><i class="far fa-comments"></i></span>
                            </div>
                            <div class="card-info">
                                <h3>Communication</h3>
                                <p>Lorem ipsum Lorem ipsum</p>
                            </div>
                        </div>
                        <div class="web-card card">
                            <div class="card-icon">
                                <span><i class="fas fa-mobile-alt"></i></span>
                            </div>
                            <div class="card-info">
                                <h3>Responsive Design</h3>
                                <p>Lorem ipsum Lorem ipsum</p>
                            </div>
                        </div>
                        <div class="web-card card">
                            <div class="card-icon">
                                <span><i class="fas fa-cogs"></i></span>
                            </div>
                            <div class="card-info">
                                <h3>Software Development</h3>
                                <p>Lorem ipsum Lorem ipsum</p>
                            </div>
                        </div>
                        <div class="web-card card">
                            <div class="card-icon">
                                <span><i class="fas fa-laptop"></i></span>
                            </div>
                            <div class="card-info">
                                <h3>Web Development</h3>
                                <p>Lorem ipsum Lorem ipsum</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="/static/js/profile.js"></script>
</body>

</html>