<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/static/css/profile.css">
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/app/icon.png" />
    <link rel="stylesheet" href="/static/fontawesome-free-5.13.0-web/css/all.css">
</head>

<body>
    <div class="wrapper">
        <div class="container">
            <aside>
                <div class="main-header">
                    {{if eq .Photo "None"}}
                    <img src="/static/img/app/user.png" alt="user"> {{else}}
                    <img src="{{.Photo}}" alt="user"> {{end}} {{if .IsUser}}
                    <a href="/profile/ch/{{.ID}}">Change</a> {{end}}

                    <h4>{{.Username}}</h4>

                    <div class="social">
                        <h3>Socials:</h3>
                        {{range $i, $v := .Socials}} {{if eq $i 0}}
                        <span><a href="{{$v}}"><i style="color: #0033cc;" class="fab fa-facebook"></i></a></span> {{end}} {{if eq $i 1}}
                        <span><a href="{{$v}}"><i style="color: #3366ff;" class="fab fa-linkedin"></i></a></span> {{end}} {{if eq $i 2}}
                        <span><a href="{{$v}}"><i style="color: rgb(228, 64, 95);" class="fab fa-instagram"></i></a></span> {{end}} {{end}} {{if not .Socials }} None {{end}}
                    </div>
                    {{if .IsUser}}
                    <a href="/profile/ch/{{.ID}}">Change</a> {{end}}

                    <address>
                            <span><i class="fas fa-university"></i></span>
                            <p>{{if .IsStudent}} University: {{else}} Company: {{end}} {{.University}}</p>
                        </address> {{if .IsUser}}
                    <a href="/profile/settings/i">Change</a> {{end}}

                    <div class="contact">
                        {{if .IsUser}}
                        <a href="/logout" class="logout">Log Out</a> {{else}}
                        <a href="mailto: {{.Email}}" class="mail">Email Me</a> {{end}}
                    </div>
                </div>
            </aside>

            <div class="main">
                <div class="heading-section">
                    <div class="nav-toggle">
                        <button class="toggle" onclick="openNav()"><span class="inner">Open</span></button>
                    </div>
                    {{if .IsUser}}
                    <div class="nav">
                        {{if .IsStudent}}
                        <ul>
                            <li><a href="/profile/my-subscription">My response</a></li>
                        </ul>
                        {{else}}
                        <ul>
                            <li><a href="/create-work">Create new vacantion</a></li>
                            <li><a href="/profile/my-vacantions">My vacantions</a></li>
                        </ul>
                        {{end}}
                    </div>
                    <div class="nav1">
                        <ul>
                            <li onclick="closeNav()"><i class="fas fa-arrow-left"></i></li>
                            {{if .IsStudent}}
                            <ul>
                                <li><a href="/profile/my-subscription">My response</a></li>
                            </ul>
                            {{else}}
                            <ul>
                                <li><a href="/create-work">Create new vacantion</a></li>
                                <li><a href="/profile/my-vacantions">My vacantions</a></li>
                            </ul>
                            {{end}}
                        </ul>
                    </div>
                </div>
                {{end}}

                <div class="ido">
                    <div class="ido-title">
                        {{if .IsUser}}
                        <h2>Личный Кабинет</h2>
                        {{end}}
                    </div>

                    <div class="card-section">
                        {{if .IsStudent}}
                        <div class="web-card card">
                            <div class="card-icon">
                                <span><i class="fas fa-user"></i></span>
                            </div>
                            <div class="card-info">
                                <h3>Характеристика</h3>
                                <p>Персональные Данные и Автобиография</p>
                            </div>
                            {{if .IsUser}}
                            <a href="/profile/settings/i" class="go">Go!</a> {{else}}
                            <a href="/user/settings/i/{{.ID}}" class="go">Go!</a> {{end}}
                        </div>
                        <div class="web-card card">
                            <div class="card-icon">
                                <span><i class="fa fa-book-medical"></i></span>
                            </div>
                            <div class="card-info">
                                <h3>Мед.Карта</h3>
                                <p>Сведения о Вашем здоровье</p>
                            </div>
                            {{if .IsUser}}
                            <a href="/profile/settings/m" class="go">Go!</a> {{else}}
                            <a href="/user/settings/m/{{.ID}}" class="go">Go!</a> {{end}}
                        </div>
                        <div class="web-card card">
                            <div class="card-icon">
                                <span><i class="fas fa-trophy"></i></span>
                            </div>
                            <div class="card-info">
                                <h3>Достижения</h3>
                                <p>Победы в конкурсах, олимпиадах и т.д.</p>
                            </div>
                            {{if .IsUser}}
                            <a href="/profile/settings/a" class="go">Go!</a> {{else}}
                            <a href="/user/settings/a/{{.ID}}" class="go">Go!</a> {{end}}
                        </div>
                        <div class="web-card card">
                            <div class="card-icon">
                                <span><i class="fas fa-stamp"></i></span>
                            </div>
                            <div class="card-info">
                                <h3>Сертификаты</h3>
                                <p>Твои достижения, но на бумаге)</p>
                            </div>
                            {{if .IsUser}}
                            <a href="/profile/settings/s" class="go">Go!</a> {{else}}
                            <a href="/user/settings/s/{{.ID}}" class="go">Go!</a> {{end}}
                        </div>
                        <div class="web-card card">
                            <div class="card-icon">
                                <span><i class="far fa-file"></i></span>
                            </div>
                            <div class="card-info">
                                <h3>Резюме</h3>
                                <p>Где работал, Навыки</p>
                            </div>
                            {{if .IsUser}}
                            <a href="/profile/settings/r" class="go">Go!</a> {{else}}
                            <a href="/user/settings/r/{{.ID}}" class="go">Go!</a> {{end}}
                        </div>
                        {{if .IsUser}}
                        <div class="web-card card">
                            <div class="card-icon">
                                <span><i class="fas fa-tasks"></i></span>
                            </div>

                            <div class="card-info">
                                <h3>Вакансии\Стажировки</h3>
                                <p>Выкансии и Стажировки для Студентов и Выпускников</p>
                            </div>

                            <a href="/filter" class="go">Go!</a>
                        </div>
                        {{end}} {{else}}
                        <div class="web-card card">
                            <div class="card-icon">
                                <span><i class="fas fa-user"></i></span>
                            </div>
                            <div class="card-info">
                                <h3>Характеристика</h3>
                                <p>Персональные Данные и Автобиография</p>
                            </div>
                            <a href="/profile/settings/i" class="go">Go!</a>
                        </div>
                        {{end}}
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="/static/js/profile.js"></script>
</body>

</html>