<html>

<head>
    <meta charset="UTF-8">
    <title>Settings</title>
    <link rel="stylesheet" href="/static/css/settings.css">
    <link rel="stylesheet" href="/static/fontawesome-free-5.13.0-web/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap" rel="stylesheet">
</head>

<body>

    <div class="container">
        <div class="leftbox">
            <nav>
                <a onclick="tabs(0)" class="tab"><i class="fa fa-user"></i></a>
                <a onclick="tabs(1)" class="tab"><i class="fa fa-book-medical"></i></a>
                <a onclick="tabs(2)" class="tab"><i class="fa fa-trophy"></i></a>
                <a onclick="tabs(3)" class="tab"><i class="fa fa-tasks"></i></a>
                <a onclick="tabs(4)" class="tab"><i class="fa fa-cog"></i></a>
            </nav>
        </div>
        <div class="rightbox">
            <div class="profile tabShow">
                <form class="form" action="/profile/settings/personal" method="POST">
                    <h1>Общая Информация</h1>
                    <h2>ФИО</h2>
                    <input type="text" class="input" value="Name Surname">
                    <h2>Дата Рождения</h2>
                    <input type="text" class="input" value="Birthday">
                    <h2>Знание Языков</h2>
                    <input type="text" class="input" value="Languages">
                    <h2>Специальность</h2>
                    <input type="text" class="input" value="Speciality">
                    <h2>Университет</h2>
                    <input type="text" class="input" value="University">
                    <input type="submit" value="Update" class="btn" />
                </form>
            </div>
            <div class="payment tabShow">
                <form class="form" action="/profile/settings/payment" method="POST">
                    <h1>Медицинская Карта</h1>
                    <h2>Группа Крови</h2>
                    <input type="text" class="input" value="Blood">
                    <h2>Аллергии</h2>
                    <input type="text" class="input" value="Allergy">
                    <h2>Психические отклонения</h2>
                    <input type="text" class="input" value="Psycho">
                    <h2>Хронические Заболевания</h2>
                    <input type="text" class="input" value="Ill">
                    <h2>Инвалидность</h2>
                    <input type="password" class="input" value="Invalidity">
                    <input type="submit" value="Update" class="btn" />
                </form>
            </div>
            <div class="subscription tabShow">
                <form class="form" action="/profile/settings/subscription" method="POST">
                    <h1>Достижения</h1>
                    <h2>Достижение 1</h2>
                    <input type="text" class="input" value="Achievement">
                    <h2>Достижение 2</h2>
                    <input type="text" class="input" value="Achievement">
                    <h2>Достижение 3</h2>
                    <input type="text" class="input" value="Achievement">
                    <h2>Достижение 4</h2>
                    <input type="text" class="input" value="Achievement">
                    <input type="submit" value="Update" class="btn" />
                </form>
            </div>
            <div class="privacy tabShow">
                <form class="form" action="/profile/settings/privacy" method="POST">
                    <h1>Стажировки\Вакансии</h1>
                    <h2>Стажировка 1</h2>
                    <p></p>
                    <h2>Стажировка 2</h2>
                    <p></p>
                    <h2>Стажировка 3</h2>
                    <p></p>
                    <h2>Стажировка 4</h2>
                    <p></p>
                    <h2>Стажировка 5</h2>
                    <p></p>
                    <input type="submit" value="Update" class="btn" />
                </form>
            </div>
            <div class="settings tabShow">
                <form class="form" action="/profile/settings/account" method="POST">
                    <h1>Настройки Профиля</h1>
                    <h2>Email</h2>
                    <input type="email" class="input" value="emial@gmail.com">
                    <h2>Смена Пароля</h2>
                    <input type="password" class="input" value="passsword">
                    <input type="submit" value="Update" class="btn" />
                </form>
            </div>
        </div>
    </div>
    <script src="/static/js/settings.js"></script>
</body>

</html>