<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/static/css/verification.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap" rel="stylesheet">
</head>

<body>
    <div class="contact-form">
        <h1>Check Your Email) We've send a Verification Code</h1>
        <div class="txtb">
            <label>Enter the Verification code</label>
            <input type="text" name="" value="" placeholder="Code">
        </div>
        <a class="btn">Send</a>
    </div>
</body>

</html>